body {
    margin: 0;
    padding: 0;
    background-color: #000007;
    font-family: Tenor Sans;
    overflow: hidden;
    color: #eee;

}

@font-face {
    font-family: 'Tenor Sans';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/TenorSans-Regular.ttf');
}

div.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;

    img {
        max-height: 100px;
    }

    h1 {
        text-align: center;
        margin-top: 10px;
        font-family: sans-serif;

        span.one {
            color: #ff0f53;
        }
    }
}

#baby-wordle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

@keyframes wordAdd {
    from { transform: scale(1.1); }
    to { transform: scale(1); }
}

#guess_grid {
    display: grid;
    gap: 8px;

    .guess-row {
        display: flex;
        gap: 8px;
    }

    div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #b8b8b8;
        line-height: 1;
        font-size: 20px;
        width: 60px;
        height: 60px;

        &.used {
            animation-name: wordAdd;
            animation-duration: 0.5s;
            border-color: #929292;
        }
    }
}

#faux-keyboard {
    display: grid;
    gap: 7px;
    position: relative;

    .row {
        display: flex;
        gap: 5px;
        justify-content: center;
        align-items: center;

        .faux-key {
            background-color: #727272;
            padding: 20px 10px;
            border-radius: 7px;
            color: #fff;
            cursor: pointer;
            line-height: 1;
            font-weight: bold;
            font-family: sans-serif;

            &#enter {
                font-size: 14px;
            }

            svg {
                fill: #fff;
            }
        }
    }
}

.flipped {
    .back {
        //border: 2px solid transparent;
        box-shadow: inset 0 0 0 2px transparent;
        color: #212121;
    }

    &.grey {
        .back {
            background-color: #b8b8b8;
            color: #727272;
        }
    }
    &.green {
        .back {
            background-color: #a8ca58;
        }
    }

    &.yellow {
        .back {
            background-color: #ffd966;
        }
    }
}

.flipper {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

@keyframes flip {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(180deg); }
}

.container.flipped .flipper {
    animation-name: flip;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.front,
.back {
    //border: 2px solid #727272;
    box-shadow: inset 0 0 0 2px #727272;
    text-transform: capitalize;
    position: absolute;
    width: 60px;
    height: 60px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.front {
    background: transparent;
}

.back {
    transform: rotateX(180deg);
}

@keyframes fade {
    0% { 
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}

#success {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    background: rgba(80, 100, 80, 0.5);

    .wrapper {
        position: absolute;
        top: 20%;
        width: max-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #010009;
        padding: 70px;
        text-align: center;
        border-radius: 999px;
        aspect-ratio: 1;
        border: 7px solid #da751b;

        svg {
            position: absolute;
            top: -100px;
            left: -100px;
            width: 1040px;
        }

        p {
            font-family: Tenor Sans;
            font-size: 40px;
            margin: 0;
            color: #a8ca58;
            line-height: 1;

            &:nth-child(1) {
                color: #eee;
            }

            &:nth-child(2) {
                color: #ff1052;
            }

            &:nth-child(3) {
                color: #ffcc01;
            }
        }
    }
}

#successWrapper svg {
    position: fixed;
    top: 0;
    visibility: hidden;
}

#wavePathTwo {
    transform: rotate(24deg) translate(35px, -48px);
    transform-origin: top left;
}

#wavePathThree {
    transform: rotate(42deg) translate(42px, -90px);
    transform-origin: top left;
}

#completeAndUtterFailure {
    display: grid;
    gap: 5px;

    p {
        font-family: sans-serif;
        margin: 0;
        text-align: center;
    }

    .actions {
        display: flex;
        gap: 10px;
    }

    button {
        border: 0;
        padding: 4px 7px;
        font-size: 20px;
        border-radius: 4px;
        cursor: pointer;

        &.surrender {
            background-color: #a8ca58;
        }
    }
}
